.footer {
  position: absolute;
  margin-bottom: 9px;
  left: 0px;
  bottom: 0px;
  height: 20px;
  width: 100%;
  background: rgb(204, 139, 139);
}

.Signup {
  position: absolute;
  right: 20%;
  padding: 80px;
  text-align: center;
}
.titulo-s {
  text-align: center;
}

.Login {
  position: absolute;
  right: 30%;
  padding: 80px;
  text-align: center;
}

.titulo-l {
  text-align: center;
}
